/**
 * Copyright 2013-2018 butor.com
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
td.message-message {
	cursor: pointer;
}
.message-recipient-group {
	Xborder-top: 1px solid grey;
}
.message-recipients {
	background: transparent;
	margin : 0px;
}
#recipientBlock {
	background-color: transparent;
}
#recipientBlock hr {
	margin : 0px;
}
#recipientBlock .btn-link {
	padding : 0px;
}
#recipientBlock .form-group {
	margin-bottom : 4px;
	margin-right: 0px;
	margin-left: 0px;
}
.message-recipient {
	margin : 2px;
	margin-bottom : 0px;
	padding: 2px;
	border: 1px solid grey;
	background-color: #d9edf7;
	display: inline-block;
	border-radius: 3px;
}
.new-message-recipient {
	background-color: inherit;
}
i.remove-message-recipient {
	font-size: 130%;
	padding-left: 6px;
	color: grey;
	cursor: pointer;
}
i.remove-message-recipient:HOVER {
	color: red;
}
div.trumbowyg-box {
	margin : 0px;
}
