<!--

    Copyright 2013-2018 butor.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div id="__inbox__">
	<div class="dropdown floating-nav-bar transparent" id="ctxMenu">
		<button class="menu btn btn-primary dropdown-toggle ctxMenu"
			data-toggle="dropdown">
			<i class="fa fa-caret-down"></i>
		</button>
		<ul class="dropdown-menu pull-right" role="menu">
			<li class="view"><a tabindex="-1"> <i class="fa fa-eye"></i>
					<span class="bundle">Read</span></a></li>
			<li class="delete" style="display: none;"><a tabindex="-1"> <i
					class="fa fa-trash-o text-danger"></i> <span class="bundle text-danger">Delete</span></a></li>
		</ul>
	</div>

	<div id="result" class="row">
		<div class="col-sm-12">
			<div><span class="bundle">Select</span> <a href="#." class="bundle message-select-all">All</a> | <a href="#." class="bundle message-select-none">None</a></div>
			<table id="resultTable"
				class="table table-hover tablesorter">
				<thead>
					<tr>
						<th class="text-muted" style="max-width:30px;width:30px;"></th>
						<th class="bundle">Message</th>
						<th class="bundle">From</th>
						<th class="bundle">Date</th>
					</tr>
				</thead>
				<tbody>
					<tr class="message-item" id="1" style="display:none;">
						<td nowrap class="message-select">
							<label><input type="checkbox">&nbsp;</label>
						</td>
						<td class="message-message"></td>
						<td nowrap class="fromUserId"></td>
						<td nowrap class="creationDate"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
	App.Utils.selectNavItem("#appNavBar", "#inboxLink");

	butor.message._loader.onReady(function() {
		new butor.message.Inbox($("#__inbox__"));
	});

	//# sourceURL=butor.message.inbox.html
</script>
