<!--

    Copyright 2013-2018 butor.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div class="dlg-content dlg-content-no-tool-bar">

	<div class="row">
		<div class="col-sm-12">
			<div>
				<span class="bundle bolder">Subject</span>:
				<span id="subject"></span>
			</div>
			<div>
				<span class="bundle bolder">From</span>:
				<span id="recipientFrom"></span>
			</div>
			<div>
				<span class="bundle bolder">Date</span>:
				<span id="date"></span>
			</div>
			<div>
				<span class="bundle bolder">To</span>:
				<span id="recipientTo"></span>
			</div>
		</div>
	</div>

	<hr>

	<div class="row" >
		<div class="col-sm-12">
			<div class="form-group">
<!-- 				<label class="control-label bundle">Message</label> -->
				<div id="message" class=""></div>
			</div>
		</div>
	</div>

	<div class="row" style="display:none;">
		<div class="col-sm-12">
			<div class="form-group">
				<div id="attachments">
					<div class="attachment-item" style="display:none;border-top:1px solid lightgray;">
						<a href="#" class="download-attach-link">
							<i class="fa fa-file-o"></i> <span class="attachment-name"></span> (<span class="attachment-size"></span>)
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="dlg-button-bar align-center">
	<button type="button" class="btn btn-default" id="closeBtn">
		<i class="fa fa-remove"></i> <span class="bundle">Close</span>
	</button>
</div>
