<!--

    Copyright 2013-2018 butor.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div class="col-md-12 message-nav-bar">
	<ul class="nav nav-pills">
		<li id="inboxLink" style="display: none"><a><i
				class="fa fa-envelope-o"></i> <span class="bundle">Inbox</span></a></li>
		<li id="sentLink" style="display: none"><a><i
				class="fa fa-envelope"></i> <span class="bundle">Sent messages</span></a></li>
		<li id="sendMessageLink" style="display: none;"><a><i
				class="fa fa-plus"></i> <span class="bundle">New message</span></a></li>
		<li id="messageLookupLink" class="pull-right" style="display: none;">
			<input class="form-control message-lookup" type="text" maxlength="100">
		</li>
		<li id="refreshLink" class="pull-right">
			<a class="btn btn-default"><i class="fa fa-refresh"></i> <span class="bundle">Refresh</span></a>
		</li>
	</ul>
	<div class="message-recipient-label message-recipient" style="display: none;">
		<span class="message-recipient-id"></span>
		<i class="fa fa-remove remove-message-recipient"></i>
	</div>
</div>

<script type="text/javascript">
	butor.Loader.loadCSS("/message/res/css/style.css");
	butor.message._loader = new butor.message.AppLoader();
	butor.message._loader.setDebugMode(true);
	butor.message._loader.load();
	//# sourceURL=butor.message.navBar.html
</script>
