<!--

    Copyright 2013-2018 butor.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div id="__send_message__">
	<div class="page-header">
		<h1><span class="bundle">New message</span> <small></small></h1>
	</div>

	<div class="row">
		<div class="col-sm-2">
			<div class="form-group">
				<label class="control-label bundle" for="msgType">Type</label>
				<select class="form-control editable" id="msgType">
				</select>
			</div>
		</div>
		<div class="col-sm-10">
			<div class="form-group">
				<label class="control-label bundle" for="subject">Subject</label>
				<input id="subject" class="form-control editable">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label class="control-label bundle">To</label>
				<div id="recipientBlock" class="form-horizontal container-fluid well well-mini">
					<div class="form-group message-recipient-group">
						<label class="control-label col-sm-1  bundle">User</label>
						<div class="col-sm-11 user-recipients">
							<div class="message-recipients">
								<input id="userLookup" class="message-recipient new-message-recipient" style="width:150px;"/>
							</div>
						</div>
					</div>
					
					<div class="form-group message-recipient-group" id="recipientGroupTmpl">
						<hr>
						<div class="control-label col-sm-1 dropdown">
							<button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true">
								<span class="bundle recipient-group-label">Group label</span> <span class="fa fa-plus"></span>
							</button>
							<ul class="dropdown-menu">
							</ul>
						</div>
						<div class="col-sm-11 message-recipients">
						</div>
					</div>
				</div>
				
				<div id="preview" class="message-recipients well well-mini" style="display:none;">
				</div>
			</div>
		</div>
	</div>

	<div class="row" >
		<div class="col-sm-12">
			<div class="form-group">
				<label class="control-label bundle" for="message">Message</label>
				<div id="message" class="form-control editable" placeholder="Compose an epic!"></div>
			</div>
			
			<div class="form-group">
				<button class="btn btn-default" id="backBtn" style="display:none;"><i class="fa fa-chevron-left"></i> <span class="bundle">Back</span></button>
				<button class="btn btn-default" id="nextBtn"><span class="bundle">Validate</span> <i class="fa fa-chevron-right"></i></button>
				<button class="btn btn-default" id="sendBtn" style="display:none;"><i class="fa fa-plane"></i> <span class="bundle">Post</span></button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
App.Utils.selectNavItem("#appNavBar", "#sendMessageLink");

butor.message._loader.onReady(function() {
	new butor.message.Message($('#__send_message__'));
});
//# sourceURL=butor.message.sendMessage.html
</script>
